.contact-section {
  padding: 0;

  .contact { 

    .content-col {
      margin: 3rem 0;
    }

    .section-head {
      text-align: left;
      margin-bottom: 2rem;

      h2 {
        color: $white;
      }
    }

    @include sm-max-media {
      
      .section-head {
        text-align: center;
      }

      .porfolio-link {
        text-align: center;
      }
    }

    .img-container {

      img {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    @include sm-max-media {

      .img-container{
        text-align: center;

        img {
          position: static;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@include sm-max-media {
  .contact-section {
    margin-top: 0;
  }
}