footer {
	.footer-bottom {
		padding-top: 4rem;
		padding-bottom: 2rem;
	}

	.social-links {
		margin-bottom: 2rem;

		a {
			color: $blue;
			font-size: 1.5rem;
			margin: 0 .5rem;

			&:hover {
				color: $blue-hover;
				text-decoration: none;
			}
		}
	}

	.creators{
		font-size: .8rem;
		
		p {
			margin: 0;
		}
	}

	.logo-link {
		display: block;
		margin-bottom: 1rem;
		
		.logo {
			color: $yellow;
			
			span {
				color: $blue;
			}
		}
	}
}