.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .primary-nav {
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    li a{
      display: block;
      line-height: 6rem;
      color: #fff;
      margin: 0 1.5rem;
      position: relative;

      &:hover, &:focus {
        text-decoration: none;
      }

      &:hover:after, &.active:after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background: #e5007e;
        position: absolute;
        bottom: 2rem;
        left: 0;
      }
    }
  }
}

// Responsive Styles ================================================

@include md-max-media {
  .header {
    padding: 1rem 0;

    .primary-nav {
      padding: 1rem;
      position: fixed;
      background: $white;
      top: 0;
      right: 0;
      z-index: 9999;
      height: 100vh;
      width: 350px;
      max-width: 100%;
      overflow: auto;
      -webkit-box-shadow: -1px 0 9px 0px rgba(0, 0, 0, 0.4);
              box-shadow: -1px 0 9px 0px rgba(0, 0, 0, 0.4);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);

      ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        list-style: none;

        li a {
          color: $blue;
          line-height: 3rem;

          &:hover:after, &.active:after {
            bottom: .75rem;
          }
        }  
      }

      &.open {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
    }

    .mobile-menu-toggle {
      font-size: 1.25rem;
      margin-left: 2rem;
      background-color: $dark-pink;
      color: #fff;

      &:hover, &:focus {
        outline: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }
  }
}