.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .mid-menu-col {
    nav {
      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }

      li a{
        display: block;
        line-height: 6rem;
        color: #fff;
        margin: 0 1.5rem;
        position: relative;

        &:hover, &:focus {
          text-decoration: none;
        }

        &:hover:after, &.active:after {
          content: '';
          display: block;
          height: 3px;
          width: 100%;
          background: #e5007e;
          position: absolute;
          bottom: 2rem;
          left: 0;
        }
      }
    }
  }
}