.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .nav{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    li a{
      padding: 1.5rem;
      display: inline-block;
      color: $white;
      font-size: 1.25rem;
      

      span{ 
        position: relative;
        padding: 0 5px;

        &:after{
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          height: 2px;
          width: 0;
          margin: 0 auto;
          background: #fff;
          opacity: 0;
          @include customTransition(0.2s);
        }
      }

      &:hover{
        text-decoration: none;
      }
      &:hover span:after{
        width: 100%;
        opacity: .75;
      }
    }
  }
}