.home-banner{

  .home-banner-cols{
    min-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  @include md-max-media {
    .home-banner-cols {
      min-height: initial;
    }
  }

  .text-content{

    p{
      margin-bottom: 4rem;
    }
  }

  @include md-max-media {
    .text-content { 
      text-align: center;
      min-height: 400px;
      padding-bottom: 40px;
      justify-content: flex-end;
    }  
  }

}