.home-banner{

  .col{
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-content{
    
    h1{
      font-size: 2.9rem;
      font-weight: 800;
      letter-spacing: 2px;
    }

    .h3{
      letter-spacing: 2px;
      margin-bottom: .5rem;
    }
    
    .text{
      font-size: 1.25rem;
    }

    .divider {
      width: 150px;
      margin-left: 0;
      border-top: 5px solid #fff;
      margin-bottom: 1.5rem;
    }
  }

}