@mixin defaultTransition() {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@mixin customTransition($duration) {
  -webkit-transition: all $duration ease-out;
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

@mixin sectionBgColorScheme($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
}

// Media Queries

$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

@mixin xs-max-media {
    @media (max-width: $xs-max) {
        @content;
    }
}

@mixin sm-max-media {
  @media (max-width: $sm-max) {
      @content;
  }
}

@mixin md-max-media {
  @media (max-width: $md-max) {
      @content;
  }
}

@mixin lg-max-media {
  @media (max-width: $lg-max) {
      @content;
  }
}