.portfolio {

  .portfolio-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    
    .card {
      margin-bottom: 2rem;
    }

    .card-title {
      margin-bottom: 0;
      
      a {
        color: $semi-black;
      }
    }
  }
}