.portfolio {

  .portfolio-list-item {
    
    .profolio-bg {
      width: 300px;
      max-width: 100%;
      height: 300px;
      margin: 0 auto 4rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      overflow: hidden;
      -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);

      .link-overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 300px;
        max-width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, .2); 
        padding: 1rem;
        opacity: 0;
        @include defaultTransition();
  
        &:hover, &:focus { text-decoration: none; }
      }

      @include md-max-media {
        .link-overlay {
          opacity: 1;
        }
      }

      &:hover .link-overlay { opacity: 1; }
    }

    .project-name {
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      font-size: 1.25rem;
      display: block;
      margin-bottom: 2rem;
    }
  }
}