.skills{

  .skill-img{

    img{
      width: 125px;
      margin-bottom: 50px;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      @include defaultTransition();

      &:hover{ -webkit-filter: grayscale(0); filter: grayscale(0); }
    }

    @include md-max-media {
      img {
        -webkit-filter: none;
                filter: none;
      }
    }
  }
}