// Variables
$blue: #03B9DB;
$blue-hover: #13a1bb;
$white: #ffffff;
$yellow: #FAC05E;
$dark-yellow: #F4A01E;
$dark-yellow-hover: #ef9000;
$semi-black: #1F2D3D;
$gray: #f7f7f7;
$dark-pink: #e5007e;
$red: #FF5252;
$green: #69F0AE;
$gray-black: #37474F;