@import '_mixins';

// Variables
$blue: #40A0E0;
$white: #ffffff;
$yellow: #F0B840;
$green: #40C080;
$sky-blue: #40C8F0;


// Global Styles
body{ font-family: 'Poppins', sans-serif; }

h1, .h1{ font-size: 2.75rem; }
h2, .h2{ font-size: 2.5rem; }
h3, .h3{ font-size: 2rem; }
h4, .h4{ font-size: 1.75rem; }
h5, .h5{ font-size: 1.5rem; }

.section{ 
  padding: 3.5rem 0; 

  .section-header{
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;  
  }
}

.home-banner-section{ @include sectionBgColorScheme($blue, $white); }

.about-section { @include sectionBgColorScheme($yellow, $white); }

.portfolio-section { @include sectionBgColorScheme($green, $white) }

.contact-section{ @include sectionBgColorScheme($sky-blue, $white) }


@import '_header';
@import '_homeBanner';
@import '_skills';
@import '_contact';