@import '_mixins';

@import '_variables';


// Global Styles
body{ font-family: 'Poppins', sans-serif; }

h1, .h1{ 
  font-size: 2.5rem; 
  letter-spacing: .15rem; 
  line-height: 3.25rem; 
}
h2, .h2{ 
  font-size: 2.25rem; 
  letter-spacing: .15rem; 
  line-height: 3rem; 
}
h3, .h3{ 
  font-size: 2.0rem; 
  letter-spacing: .15rem; 
  line-height: 2.5rem; 
}
h4, .h4{ 
  font-size: 1.75rem; 
  letter-spacing: .15rem; 
  line-height: 2.25rem; 
}
h5, .h5{ 
  font-size: 1.5rem; 
  letter-spacing: .15rem; 
  line-height: 2rem; 
}

p { letter-spacing: .1rem; line-height: 1.75rem; }

a { cursor: pointer; }

.logo-link {
  .logo {
    color: $white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .15rem;

    span {
      color: $dark-pink;
    }
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}
@include sm-max-media {
  .logo-link {
    .logo {
      font-size: 1.75rem;
    }
  }
}

.section{ 
  padding: 8rem 0;
  
  &.section-white {
    padding: 0;
    margin: 8rem 0;
  }
}

@include md-max-media {
  .section {
    padding: 6rem 0;
  }
}
@include sm-max-media {
  .section {
    padding: 4rem 0;
  }
}

.section-head {
  width: 725px;
  max-width: 100%;
  margin: 0 auto 4rem;

  h2 {
    color: $yellow;
    margin-bottom: 1rem;
  }
}

.zigDivider { margin-bottom: 1rem; }

.btn-rounded {
  background-color: $blue;
  border-radius: 30px;
  color: #ffffff;
  width: 200px;
  padding: .75rem 1rem;
  outline: 0 !important;
  box-shadow: none !important; 

  &:hover, &:focus{
    background-color: $blue-hover;
    color: #ffffff;
  }

  &.yellow {
    background-color: $dark-yellow;

    &:hover, &:focus {
      background-color: $dark-yellow-hover;
    }
  }
}

.home-banner-section{ @include sectionBgColorScheme($yellow, $white); }

.about-section { @include sectionBgColorScheme($white, gray); }

.skills-section { @include sectionBgColorScheme($gray, gray); }

.portfolio-section { @include sectionBgColorScheme($white, gray) }

.contact-section{ @include sectionBgColorScheme($blue, $white) }

.footer-bottom{ @include sectionBgColorScheme($white, gray) }

@import '_header';
@import '_homeBanner';
@import '_about';
@import '_skills';
@import '_portfolio';
@import '_contact';
@import '_footer';