@import '_mixins';

// Variables
$blue: #40A0E0;
$white: #ffffff;
$yellow: #FAC05E;
$green: #40C080;
$sky-blue: #40C8F0;
$semi-black: #1F2D3D;


// Global Styles
body{ font-family: 'Poppins', sans-serif; }

h1, .h1{ 
  font-size: 3rem; 
  letter-spacing: .15rem; 
  line-height: 3.25rem; 
}
h2, .h2{ 
  font-size: 2.75rem; 
  letter-spacing: .15rem; 
  line-height: 3rem; 
}
h3, .h3{ 
  font-size: 2.25rem; 
  letter-spacing: .15rem; 
  line-height: 2.5rem; 
}
h4, .h4{ 
  font-size: 2rem; 
  letter-spacing: .15rem; 
  line-height: 2.25rem; 
}
h5, .h5{ 
  font-size: 1.75rem; 
  letter-spacing: .15rem; 
  line-height: 2rem; 
}

p { letter-spacing: .1rem; line-height: 1.75rem; }

a { cursor: pointer; }

.section{ 
  padding: 3.5rem 0; 

  .section-header{
    margin-bottom: 1em;
    text-transform: uppercase; 
  }

}

.zigDivider { margin-bottom: 1rem; }

.btn-rounded {
  background-color: #03B9DB;
  border-radius: 30px;
  color: #ffffff;
  width: 200px;
  padding: .75rem 1rem; 

  &:hover{
    background-color: #13a1bb;
    color: #ffffff;
  }
}

.home-banner-section{ @include sectionBgColorScheme($yellow, $white); }

.about-section { @include sectionBgColorScheme($blue, $white); }

.portfolio-section { @include sectionBgColorScheme($green, $white) }

.contact-section{ @include sectionBgColorScheme($sky-blue, $white) }


@import '_header';
@import '_homeBanner';
@import '_about';
@import '_skills';
@import '_portfolio';
@import '_contact';