@import '../_variables';

.page-404 {
    min-height: 100vh;
    background-color: $gray-black;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .link-404 {
        margin-top: 2rem;
    }
}